<% layout('layouts/base') -%>
<section class="content-header">
    <h1>
        <small>All Users</small></h1>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Users</h3>
            <!--<div class="box-tools pull-right">
                <button type="button" data-widget="collapse" data-toggle="tooltip" title="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
            </div>-->
        </div>
        <div class="box-body">
            <div style="clear: both;"></div>
            <div class="box-tools">
                <select id="filterbycond" class="form-control">
                    <option value="">Select a filter</option>
                    <option value="gamesplayed">Top players by games played</option>
                    <option value="oldest">Top players by registration time</option>
                    <option value="wins">Top players by number of wins</option>
                    <option value="wager">Top players by wagers won</option>
                    <option value="exchange">Top players by token exchanged</option>
                    <option value="tokensheld">Top players by Tokens held</option>
                    <option value="gamesbytoken">Top games by Tokens won on them</option>
                    <option value="gamesbygames">Top games by games played</option>
                </select>
            </div>
            <div class="data-table mt-20">
                <table class="table table-bordered" id="">
                    <thead id="appendhead">
                        <tr>
                            <th>User Name</th>
                            <th>Game</th>
                            <th>Total battles</th>
                            <th>Battles Won</th>
                            <th>Battles Lost</th>
                            <th>Coins won</th>
                            <th>Coins lost</th>
                            <th>Last Played on</th>
                        </tr>
                    </thead>
                    <tbody id="appendbody">
                        <% i=1; games.forEach(function(user) { %>
                        <tr>
                            <td>
                                <% if(user.online == 'y'){%>
                                <div style="width: 10px; height: 10px; background-color: green; display: inline-block; border-radius: 5px;"></div>
                                <%}else{%>
                                <div style="width: 10px; height: 10px; background-color: red; display: inline-block; border-radius: 5px;"></div>
                                <%} %>
                                <%= user.firstname %>
                            </td>
                            <td>
                                <%= user.game_name %>
                            </td>
                            <td>
                                <%= user.total_battles%>
                            </td>
                            <td>
                                <%= user.battles_won %>
                            </td>
                            <td>
                                <%= user.battles_lost %>
                            </td>
                            <td>
                                <%= user.coins_won %>
                            </td>
                            <td>
                                <%= user.coins_lost %>
                            </td>
                            <td>
                                <%= user.last_played.toDateString() %>
                            </td>
                        </tr>
                        <% i++;}) %>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button id="prev" data-offset="0" class="btn btn-primary">Prev</button>
                    <button id="next" data-offset="0" class="btn btn-primary">Next</button>
                </div>
            </div>
        </div>
    </div>
</section>