<% layout('layouts/base') -%>
<section class="content-header">
    <h1>
        <small>All Users</small></h1>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h4 class="">Users
                <span class="pull-right">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal"><i class="fa fa-filter"></i>
                        Filter Users</button>
                </span>
            </h4>
        </div>
        <div class="box-body">
            <a href="users/add" class="pull-left btn btn-primary"><i class="fa fa-plus"> </i> Add
                User</a>
            <div style="clear: both;"></div>
            <div class="mt-10"></div>
            <button type="button" class="check btn btn-sm btn-default">
                <i class="fa fa-square-o"></i></button>
            <!--<input type="button" class="delete" value="Delete" disabled />-->
            <!-- <button type="button" class="delete btn btn-default btn-sm" disabled><i class="fa fa-trash-o"></i></button> -->
            <button type="button" class="delete btn btn-sm btn-danger" disabled title="send user to ban list"><i class="fa fa-trash"></i></button>
            <button type="button" class="suspend btn btn-sm btn-warning" disabled title="suspend or revive users"><i
                    class="fa fa-remove"></i>
                Alter users status</button>
            <div class="data-table mt-20">
                <table class="table table-bordered" id="example">
                    <thead>
                        <tr>
                            <th></th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Bank Name</th>
                            <th>Account No.</th>
                            <th>Bank Code</th>
                            <th>Country</th>
                            <th>Join</th>
                            <th>User Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% i=1; users.forEach(function(user) { %>
                        <tr>
                            <td><input data-status="<%= user.status %>" type="checkbox" class="cb-element" name="msgdel[]"
                                    value="<%=user.id%>"></td>
                            <td>
                                <% if(user.online == 'y'){%>
                                <div style="width: 10px; height: 10px; background-color: green; display: inline-block; border-radius: 5px;"></div>
                                <%}else{%>
                                <div style="width: 10px; height: 10px; background-color: red; display: inline-block; border-radius: 5px;"></div>
                                <%} %>
                                <%= user.firstname %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= user.phone %>
                            </td>
                            <td>
                                <%= user.bank_name %>
                            </td>
                            <td>
                                <%= user.bank_acc_no %>
                            </td>
                            <td>
                                <%= user.bank_code %>
                            </td>
                            <td>
                                <%= user.country %>
                            </td>
                            <td>
                                <%= new Date(+user.joined).toDateString()%>
                            </td>

                            <td>
                                <form method="POST" action="users/approve">
                                    <input type="hidden" name="status" value="<%= user.status %>">
                                    <input type="hidden" name="id" value="<%= user.id %>">

                                    <input title="Click to change status" type="submit" <% if(user.status==1){ %>
                                    class="btn-sm btn btn-success" value="ON"
                                    <% }else{ %> class="btn btn-sm btn-danger" value="OFF"
                                    <%} %>>
                                </form>
                            </td>
                            <td>
                                <div style="display:inline-block">
                                    <form method="post" action="users/delete">
                                        <input type="hidden" name="id" value="<%= user.id %>">
                                        <input type="hidden" name="status" value="delete">
                                        <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <% i++;}); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Filter Users</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form action="/controlpanel/users" method="get">
                        <div class="col-md-6">
                            <label>From : </label>
                            <input type="date" name="from" id="from" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>To :</label>
                            <input type="date" name="to" id="to" class="form-control">
                        </div>
                        <div class="col-md-12 mt-10">
                            <label>User Status :</label>
                            <select name="status" class="form-control">
                                <option value="">All</option>
                                <option value="banned" <% if(query && query.status=='banned' ){%>selected
                                    <%}%>>Banned</option>
                                <option value="suspended" <% if(query && query.status=='suspended' ){%>selected
                                    <%}%>>Suspended</option>
                            </select>
                        </div>
                        <div class="col-md-12 mt-10">
                            <label>Country :</label>
                            <select class="form-control" id="country" name="country"></select>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" id="submit" class="btn btn-primary" style="margin-top:25px" value="Go">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script src="/dist/js/countries.js"></script>
<script language="javascript">
    $(document).ready(function () {
        populateCountries("country", "state"); // first parameter is id of country drop-down and second 
    })
</script>