<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/header-admin.ejs %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%- include ../partials/sidebar.ejs %>
      <div class="content-wrapper">

    <%- messages('admin/alert', locals) %>
        <%-body -%>
      </div>
      <%- include ../partials/footer-admin.ejs %>
      <%- include ../partials/js.ejs %>
    </div>
  </body>
  <script type="text/javascript">
    window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 4000);
  </script>
</html>