<% layout('layouts/base-front') -%>
<style>
    .pagination>li:first-child>a,
    .pagination>li>a,
    .pagination>li>a:hover,
    .pagination>li>a:focus,
    .pagination>li:first-child>span,
    .pagination>li>span,
    .pagination>li>span:hover,
    .pagination>li>span:focus {
        padding: 5px 10px
    }

    .message-unread {
        padding: 10px;
    }
</style>
<div class="row">
    <div class="col-md-9">
        <ul class="pagination pagination-sm mt-0">
            <li>
                <a href="/message/inbox">INBOX</a>
            </li>
            <li>
                <a href="/message/sent">SENT</a>
            </li>
            <li>
                <a href="/message/compose">COMPOSE</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">

    </div>
</div>

<!-- <table class="youplay-messages table table-hover">
    <tbody> -->
<% if(!outbox.length){%>
<div class="row youplay-messages mt-20">
    <div class="message-unread">
        <div class="message-description"> There are no messages in your Outbox</div>
    </div>
</div>
<%}%>
<% for(var i=0; i < outbox.length; i++){ %>
<div class="row youplay-messages mt-20">
    <div class="message-unread">
        <div class=" col-md-4 col-sm-4 message-from" onclick="window.location='/message/readmessage/<%=outbox[i].id%>';">
            <div class="angled-img">
                <img style="min-width : 50px; min-height:50px;max-height: 50px; max-width: 50px;" <%
                    if(outbox[i].profile_pic) { %> src="
                <%=`/users/${outbox[i].to_id}/${outbox[i].profile_pic}` %>"
                <% }else{%> src = "
                <%= `/images/${outbox[i].gender}.jpg` %>"
                <% }%> alt="">
            </div>
            <div class="namedate">
                <p>
                    <%= outbox[i].firstname %>
                    <br>
                    <span class="date">
                        <%= outbox[i].created_on.toDateString() %></span>
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-10 message-description text-left mt-10" onclick="window.location='/message/readmessage/<%=outbox[i].id%>';">
            <strong>
                <%= outbox[i].subject %></strong>
            -
            <div class="message-excerpt" style="color : #ddd">
                <%= outbox[i].message.substr(0, 40)+"..." %>
            </div>
        </div>
        <!-- <td class="message-description" onclick="window.location='/message/readmessage/<%=outbox[i].id%>';">
                <a href="#" class="message-description-name" title="View Message">
                    <%= outbox[i].subject %></a>
                <br>
                <div class="message-excerpt">
                    <%= outbox[i].message %>
                </div>
            </td> -->
        <div class=" col-md-4 col-sm-3 text-right" style="padding : 10px">
            <span class="messages-count"></span>
            <a class="message-delete" onclick="deletemessage(this)" data-mId="<%= outbox[i].id %>" data-area="outbox"><i
                    class="fa fa-times"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<% } %>
<!-- </tbody> -->

<!-- </table> -->